.header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
}
.box{
  margin-left: 500px;
  background: rgb(57, 57, 134);
  margin-top: 100px;
  border: 5px solid black;
  padding: 40px;
  margin-right: 500px; 
  border-radius: 10px;
}
.searchHeader{
  font-size: 25px;
  color: aliceblue;
  text-align: center;
}
.button{
  background: aquamarine;
  margin-top: 25px;
  text-align: center;
  font-family: inherit;
  margin-right: 7px;
  border-radius: 5px;
}
.button:hover{
  cursor: pointer;
}
.temperature{
  text-align: center;
  margin-top: 90px;
}
.searchField{
  background: rgb(136, 165, 219);
  width: 400px;
  text-align: center;
  border-radius: 5px;
}
.values{
  background: rgb(122, 185, 201);
  border: 2px solid rgb(80, 80, 138);
  margin-top: 50px;
  border-radius: 10px;
  font-family: cursive;
  text-align: center;
  transition: 2s ease;
  margin-right: 50px;
  margin-left: 50px;
}
.values:hover{
  transition: 2s ease;
  background: rgb(116, 162, 202);
}
body{
  background: rgb(148, 192, 233);
}